<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" href="/css/app.css" rel="stylesheet">
</head>

<body>
  <div class="myContainer">
    <h1>UCHC Scheduling System</h1>
    <br>
    <form class="form-inline">
      <div class="form-group">
        <label for="threshold">Risk Threshold (0-9): </label>
        <input type="number" id="threshold" min="0" max="9" class="form-control" placeholder="5">
      </div>
    </form>
    <p id="finePrint">Determines the risk scale of appointments. Appointments with risk scores
      over the threshold qualify as high, even if the threshold is set to 0.</p>

    <br>
    <div id="wrapper">
      <button type="button" class="btn btn-outline-dark btn1">Find Tomorrow's No-Shows</button>
      <button type="button" class="btn btn-outline-dark">Find This Week's No-Shows</button>
    </div>
    <br>

    <h4>Appointments</h4>
    <p id="finePrint">High-risk appointments are highlighted in red, medium-risk appointments
      are highlighted in yellow, and low-risk appointments are highlighted in green.</p>

    <table class="tg">
      <tr>
        <th class="tableTop">ID</th>
        <th class="tableTop">Name</th>
        <th class="tableTop">Date</th>
        <th class="tableTop">Time</th>
      </tr>
      <tr>
        <td class="low"> </td>
        <td class="low"> </td>
        <td class="low"> </td>
        <td class="low"> </td>
      </tr>
      <tr>
        <td class="high"> </td>
        <td class="high"> </td>
        <td class="high"> </td>
        <td class="high"> </td>
      </tr>
      <tr>
        <td class="medium"> </td>
        <td class="medium"> </td>
        <td class="medium"> </td>
        <td class="medium"> </td>
      </tr>
    </table>

  </div>
</body>

</html>
